body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    height: 800px;
    position: relative;
    margin: 0;
    padding: 0;
        
    }
    
    header h1 {
        
    }

    .coder-text { 
    position: absolute;
    top: 20px; 
    left: 120px; 
    font-size: 30px; 
    font-weight: bold;
    color: black; 

    }

    .menu-text { 
    position: absolute;
    top: 20px;
    right: 120px; 
    font-size: 16px; 
    font-weight: normal; 
    color: black;

    }

    .additional-text {
    position: absolute;
    top: 160px; 
    left: 120px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    }

    .additional-text p {
    margin: 0px 0;
    margin-bottom: 0px; 
    margin-left: 0px;
    }

    .gray-text {
    position: absolute;
    top: 230px; 
    left: 120px;
    font-size: 16px; 
    color: #999; 
    }

    .gray-text p {
    margin: 0px 0; 
    }

    .more-info-button {
    position: absolute;
    top: 280px;
    left: 120px;
    background-color: white;
    color: black;
    border: 2px solid aqua;
    padding: 7px 28px; 
    border-radius: 0; 
    }
    
    .more-info-button:hover {
    background-color: aqua;
    color: white;
    }
    
    .more-info-button:focus {
    outline: none; 
    }

    .contact-us-button {
    position: absolute;
    top: 280px;
    left: 250px;
    background-color: aqua;
    color: white;
    border: 2px solid aqua;
    padding: 7px 28px;
    border-radius: 0;
    }

    .contact-us-button:hover {
    background-color: white;
    color:aqua;
    }

    .right-text {
    position: absolute;
    top: 480px; 
    right: 300px; 
    font-size: 30px;
    font-weight: bold;
    color: black; 
    }
    
    .right-text p {
    margin: 0; 
    }

    .grayy-text {
    position: absolute;
    top: 565px; 
    right: 241px;
    font-size: 16px; 
    color: #999; 
    }
    
    .grayy-text p {
    margin: 0; 
    }

    .angka-text {
    position: absolute;
    top: 650px; 
    right: 260px; 
    font-size: 30px;
    font-weight: bold;
    color: black; 
    }

    .angka-text p {
    margin: 0; 
    }

    .angka-text p span {
    margin-right: 20px; 
    border-bottom: 7px solid aqua; 
    padding-bottom: 3px;
    }

    .p-text {
    position: absolute;
    top: 700px; 
    right: 250px; 
    font-size: 16px;
    font-weight: normal;
    color: grey; 
    }
    
    .p-text p {
    margin: 0;
    }

    .service-text {
    position: absolute;
    top: 900px; 
    left: 90px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    }
    
    .service-text p {
    margin: 0px 0;
    margin-bottom: 0px; 
    margin-left: 0px;
    }

    .grayyy-text {
    position: absolute;
    top: 940px; 
    left: 90px;
    font-size: 16px; 
    color: #999; 
    }
    
    .grayyy-text p {
    margin: 0px 0; 
    }

    .contact-us-button-right {
    position: absolute;
    top: 900px;
    right: 200px; 
    background-color: aqua;
    color: white;
    border: 2px solid aqua;
    padding: 7px 28px;
    border-radius: 0;
    }
    
    .contact-us-button-right:hover {
    background-color: white;
    color: aqua;
    }

    .gambar-landing {
    position: absolute;
    width: 350px;
    height: 300px;
    right: 200px;
    top: 60px;
    }

    .gambar-about {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 250px;
    top: 420px;
    }

    .gambar-s1 {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 90px;
    top: 1020px;
    }

    .gambar-s2 {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 530px;
    top: 1020px;
    }

    .gambar-s3 {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 950px;
    top: 1020px;
    }

    .kotak {
    position: absolute;
    width: 175px;
    height: 11 0px;
    left: 90px;
    top: 1170px;
    background-color: white;
    padding: 10px;
    border: 2px solid white; 
    box-shadow: 1px 3px 3px gray; 
    text-align: center;
    }
      
    h1 {
    font-size: 15px;
    font-weight: bold;
    }
      
    .teks-kecil {
    font-size: 12px;
    color: gray;
    }

    .kotakk {
    position: absolute;
    width: 175px;
    height: 11 0px;
    left: 530px;
    top: 1170px;
    background-color: white;
    padding: 10px;
    border: 2px solid white; 
    box-shadow: 1px 3px 3px gray; 
    text-align: center;
    }
          
    h1 {
    font-size: 15px;
    font-weight: bold;
    }
          
    .teks-kecill {
    font-size: 12px;
    color: gray;
    }

    .kotakkk {
    position: absolute;
    width: 175px;
    height: 11 0px;
    left: 950px;
    top: 1170px;
    background-color: white;
    padding: 10px;
    border: 2px solid white; 
    box-shadow: 1px 3px 3px gray; 
    text-align: center;
    }
              
    h1 {
    font-size: 15px;
    font-weight: bold;
    }
              
    .teks-kecilll {
    font-size: 12px;
    color: gray;
    }

    .CUs-text {
    position: absolute;
    top: 1400px; 
    left: 90px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    }
        
    .CUs-text p {
    margin: 0px 0;
    margin-bottom: 0px; 
    margin-left: 0px;
    }
    
    .grayyyy-text {
    position: absolute;
    top: 1445px; 
    left: 90px;
    font-size: 16px; 
    color: #999; 
    }
        
    .grayyyy-text p {
    margin: 0px 0; 
    }

    .Our-text {
    position: absolute;
    top: 1520px; 
    right: 350px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    }
            
    .Our-text p {
    margin: 0px 0;
    margin-bottom: 0px; 
    margin-left: 0px;
    }

    .google-maps-iframe {
    width: 300px;
    height: 400px; 
    border: none; 
    margin: 10px; 
    position: relative; 
    top: 1550px; 
    left: 780px; 
    }

    .Our-text {
  
    }
     

    .form-table {
    border: 2px solid aqua; 
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    }
    
    table {
    width: 100%;
    text-align: left;
    margin: 0;
    }
    
    .form-table {
        text-align: left; 
        display: block; 
    }
    
    .submit-button {
        float: left;
        clear: both;
        margin-top: 10px;
    }

   
    .page-end-background {
    background-color: aqua;
    height: 3cm;
    top: 2000px;
    width: 100%;
    position: absolute;
    bottom: 0;
    content: "";
    z-index: -1;
    }

    .page-end-background p {
    color: white; 
    text-align: left; 
    line-height: 50px; 
    margin: 0; 
    top: 2000px;
    font-size: 30px;
    margin-left: 90px;
    font-weight: bold;
    }

    .bg{
    font-size: 16px;
    color: white; 
    text-align: left; 
    line-height: 3px; 
    margin: 0; 
    margin-top: 1620px;
    margin-left: 90px;
    font-weight: 20px;
    position: absolute;
    top: 420px;
    }

    .bgg {
    position: absolute;
    display: flex; 
    top: 2000px;
    right: 60px; 
    }
    
    .bgg svg {
    width: 50px; 
    height: 100px; 
    margin-right: 20px; 
    }

    .button2 {
    color: white;
    background-color: rgb(0, 228, 178);
    border-color: rgb(0, 228, 178);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    margin-top: 30px;
    margin-left: 55px;
    }

    .button1 {
    color: white;
    background-color: rgb(0, 228, 178);
    border-color: rgb(0, 228, 178);
    border-radius: 0px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .button0 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-color: rgb(0, 228, 178);
    border-radius: 0px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    }
    .border1 {
    width: 300px;
    }
      
    table tr th {
    padding-top: 10px;
    padding-bottom: 100px;
    }
    #colorstrip {
    margin-left: 35px;
    margin-top: 10px;
    width: 30%;
    height: 10px;
    border-style: solid;
    border-color: rgb(0, 228, 178);
    background-color: rgb(0, 228, 178);
    }
    .text-table1 {
    color: #979797;
    margin-top: 20px;
    margin-left: -15px;
    }
    .div-service {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    }
    .div-contact {
    display: flex;
    padding: 5rem;
    flex-direction: column;
    }
    .div-section-4 {
    display: flex;
    flex-direction: row;
    }
    .border-form {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(0, 228, 178);
    margin-top: 1110px;
    margin-left: 90px;
    }
    .grid1 {
    gap: 5rem;
    }
    .tell-us {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1opx;
    }
    .inputan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0.5rem;
    }
    .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-top: -20px;
    }
    .form-name {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    }
    .input-name {
    width: 190px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    }
    .input-message {
    width: 400px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    }
